<main class="legal-container">
    <div class="page-header">
        <h1>Pravno obvestilo</h1>
        <p class="legal-effective">Velja od 1. 9. 2025 dalje · zadnja posodobitev: junij 2026</p>
    </div>

    <article class="legal-doc">
        <section>
            <h2>1. Splošno</h2>
            <p>1.1. Za namene tega Pravnega obvestila pojem <strong>spletna stran</strong> pomeni skup podstrani na URL naslovu: <a href="https://www.mojavto.si">https://www.mojavto.si</a>.</p>
            <p>1.2. S spletno stranjo upravlja <strong>AMS Solutions d.o.o.</strong>, matična št. 7511744000, ID za DDV oz. davčna št. 58144498 (v nadaljevanju: MojAvto oz. upravljavec).</p>
            <p>1.3. Pravno obvestilo določa način uporabe spletne strani in storitev, ki jih preko spletne strani ponuja upravljavec, ter določa pravice in obveznosti uporabnika in upravljavca.</p>
            <p>1.4. S klikom na »Strinjam se«, ki se pokaže ob prvi registraciji uporabnika oz. ob prvem vpisu v uporabniški račun od dne začetka veljavnosti tega Pravnega obvestila, ter z vso nadaljnjo uporabo spletne strani, uporabnik soglaša z uporabo določb vsakokratnega Pravnega obvestila.</p>
            <p>1.5. Vse pravice so pridržane. Informacije in gradiva na spletni strani so zaščitena s pravicami intelektualne lastnine upravljavca ali s pravicami intelektualne lastnine pravnih subjektov, katerih vsebine so vključene v spletno stran.</p>
        </section>

        <section>
            <h2>2. Uporabniki</h2>
            <p>2.1. Uporabniki spletne strani in storitev so zasebni uporabniki in poslovni uporabniki, ki na spletni strani opravijo registracijo in ustvarijo uporabniški račun.</p>
            <p>2.2. <strong>Zasebni uporabniki</strong> so fizične osebe, ki spletno stran in storitve uporabljajo izključno za lastno rabo in ne v smislu opravljanja dejavnosti prodaje vozil in drugih stvari ali pravic, ki se prodajajo na spletni strani.</p>
            <p>2.3. <strong>Poslovni uporabniki</strong> so fizične in pravne osebe, ki spletno stran in storitve uporabljajo za opravljanje registrirane oz. pridobitne dejavnosti.</p>
            <p>2.4. Zasebni uporabniki in poslovni uporabniki se lahko skupno označujejo z izrazom »uporabniki«, v tistih primerih, ko veljajo enaka pravila tako za zasebne kot za poslovne uporabnike.</p>
            <p>2.5. <strong>Obiskovalci</strong> spletne strani so fizične ali pravne osebe, ki na spletni strani ne ustvarijo uporabniškega računa in imajo zato na voljo omejen obseg storitev.</p>
        </section>

        <section>
            <h2>3. Oglasi</h2>
            <p>3.1. Uporabniki lahko na spletni strani objavijo oglase, ki so namenjeni neposredni prodaji konkretnih vozil in/ali drugih predmetov, ki se prodajajo na spletni strani.</p>
            <p>3.2. Uporabniki oddajo oglas preko standardiziranega in vnaprej pripravljenega obrazca, dostopnega na spletni strani, v katerega vnesejo zahtevane podatke. Oglas mora biti v slovenskem jeziku.</p>
            <p>3.3. Oglas, ki ga oddajo fizične osebe, je objavljen za obdobje 30 dni od dne popolne oddaje oglasa; oglas, ki ga oddajo pravne osebe, pa za obdobje 1 leta od dne popolne oddaje oglasa, v kolikor uporabnik objave oglasa predhodno ne prekliče ali objave ne podaljša za enako obdobje. Po preklicu objave je vsebina oglasa uporabniku na voljo v arhivu za obdobje 30 dni; po tem obdobju arhiv objave ni več na voljo.</p>
            <p>3.4. Uporabnik jamči za pravilnost, točnost, resničnost in ažurnost posredovanih podatkov. Za celotno vsebino oglasa, vključno s posredovanimi fotografijami, objavljeno ceno ter navedbo pravilnih kontaktnih podatkov odgovarja izključno uporabnik oz. oseba, ki v imenu uporabnika odda oglas v objavo.</p>
            <p>3.5. Upravljavec ne prevzema odgovornosti za resničnost objavljenih podatkov, niti podatkov, ki jih vpisujejo uporabniki. Vsak dogovor o nakupu/prodaji blaga oz. storitve, objavljene na spletni strani, je dogovor zgolj med kupcem in uporabnikom, ki blago oz. storitev prodaja, in ne povzroči nikakršnega posrednega ali neposrednega pogodbenega odnosa med kupcem, uporabnikom kot prodajalcem ter upravljavcem.</p>
            <p>3.6. Upravljavec si pridržuje pravico do dodatnega preverjanja oglasa pred njegovo objavo, zavrnitve objave oglasa, izbrisa ali blokade objave celotne vsebine ali kateregakoli dela oglasa, ali spremembe rubrike objave oglasa, v kolikor je ta neprimeren, vsebinsko sporen, zavajajoč, objavljen v neustrezni rubriki ali kakorkoli neprimeren za objavo po kriteriju uredništva spletne strani. Upravljavec si prav tako pridržuje pravico do omejitve števila ali tempa objav, v kolikor so objave v nasprotju s tem pravnim obvestilom ali iz katerihkoli drugih razlogov po oceni uredništva.</p>
            <p>3.7. Tipični splošni primeri nepravilnosti pri objavi oglasa:</p>
            <ul>
                <li>objava vsebinsko neustreznega oglasa;</li>
                <li>oglaševanje, ki predstavlja kršitev Zakona o preprečevanju dela na črno;</li>
                <li>oglas z vsebino KUPIM, IŠČEM, NAJAMEM (objava takšnega oglasa NI dopustna);</li>
                <li>oglas, ki ni objavljen v slovenskem jeziku;</li>
                <li>oglas, ki vsebuje versko, rasno ali politično obarvano vsebino, ali prikazuje verske ali politične simbole;</li>
                <li>oglas, ki kakorkoli nasprotuje veljavni zakonodaji;</li>
                <li>objava neresničnih, nepravilnih, nepopolnih ali nedosegljivih kontaktnih podatkov;</li>
                <li>objava kontaktnih podatkov kjerkoli, razen v polju za vpis kontaktnih podatkov (telefon, e-pošta);</li>
                <li>podvojena (ali večkratna) registracija istega uporabnika;</li>
                <li>oglas brez objavljene končne maloprodajne cene (MPC) oz. z zavajajočo ceno, ki ne vključuje DDV in vseh obveznih dajatev ob nakupu;</li>
                <li>oglas, ki namesto končne MPC prikazuje le leasing polog, začetno ceno, višino popusta ali ceno, ki velja le pod posebnimi pogoji;</li>
                <li>podvajanje ali večkratno ponavljajoče se objavljanje istega oglasa;</li>
                <li>oglas z neprimerno ali avtorsko sporno fotografijo (npr. kopiranje fotografije iz drugega oglasa);</li>
                <li>vsebinsko neprimeren oglas ali oglas v napačni rubriki oz. kategoriji;</li>
                <li>oglas za ponudbo, ki ni več aktualna (npr. prodano).</li>
            </ul>
            <p>3.8. Navodila in pojasnila glede oglasov so uporabnikom dostopna na spletni strani v razdelku »Pomoč uporabnikom (FAQ)«, ki je sestavni del tega Pravnega obvestila.</p>
            <p>3.9. Uporabnik z oddajo oglasa prevzema kazensko in odškodninsko odgovornost, povezano z oddajo, urejanjem, brisanjem in vsebino celotnega oglasa ali kateregakoli dela vsebine oglasa.</p>
        </section>

        <section>
            <h2>4. Cena in plačilni pogoji</h2>
            <p>4.1. Obseg brezplačne in plačljive uporabe spletne strani ter storitev za zasebne in poslovne uporabnike je določen z vsakokrat veljavnim cenikom, ki je sestavni del tega Pravnega obvestila. Upravljavec si pridržuje pravico do spremembe cenika.</p>
            <p>4.2. Za poslovne uporabnike je uporaba spletne strani in storitev plačljiva skladno z veljavnim cenikom. Zahteva za prekinitev naročniškega razmerja mora biti podana v pisni obliki na e-naslov upravljavca.</p>
            <p>4.3. Upravljavec si pridržuje pravico do zavrnitve ali izbrisa objave oglasa ali do zavrnitve dostopa do uporabniškega računa v primeru zamude pri plačilu objave oz. naročnine.</p>
        </section>

        <section>
            <h2>5. Nedopustna uporaba spletne strani in storitev</h2>
            <p>5.1. Za nedopustno uporabo spletne strani se šteje zlasti:</p>
            <ul>
                <li>poskus pridobitve in uporabe dostopa, ki je bil dodeljen drugemu uporabniku;</li>
                <li>podvojena registracija istega zasebnega uporabnika;</li>
                <li>posredovanje lastnih dostopnih podatkov tretjim osebam;</li>
                <li>namerno motenje in onemogočanje dela drugih uporabnikov;</li>
                <li>uničevanje, spreminjanje ali objava podatkov, ki so v lasti drugih uporabnikov;</li>
                <li>uporaba podatkov, objavljenih na spletni strani, v komercialne ali nekomercialne namene, v kolikor to ni izrecno dovoljeno na podlagi pisnega dogovora (npr. zloraba e-naslovov, kopiranje vsebine oz. oglasov);</li>
                <li>objava in pošiljanje podatkov, ki kršijo avtorske pravice;</li>
                <li>ustvarjanje, pošiljanje ali objavljanje podatkov z žaljivo, neprimerno ali pornografsko vsebino;</li>
                <li>posredovanje lažnih ali zavajajočih osebnih podatkov pri oddaji/urejanju oglasne vsebine;</li>
                <li>uporaba programov ali postopkov, katerih namen ali posledica je krnenje integritete in stabilnega delovanja računalniškega sistema ali omrežja;</li>
                <li>uporaba programov, aplikacij tretjih oseb ali programskih nadgradenj brskalnikov za avtomatiziran dostop do vsebine ali avtomatizirano urejanje vsebine (npr. črpanje podatkov v source-code obliki, page oz. screen scraping, auto form filler ipd.);</li>
                <li>vsaka uporaba, ki nasprotuje namenu, za katerega je spletna stran narejena.</li>
            </ul>
            <p>5.2. Uporaba spletne strani v nasprotju s tem Pravnim obvestilom ali na nezakonit način je strogo prepovedana. V primeru dvoma o dopustnosti uporabe se vsakršna uporaba, ki ni izrecno dovoljena s strani upravljavca, šteje za nedopustno.</p>
        </section>

        <section>
            <h2>6. Avtorske pravice</h2>
            <p>6.1. Oglas na spletni strani predstavlja vsebinsko standardizirano vsebino in informacije. Uporabnik se strinja, da upravljavec s trenutkom oblikovanja oglasa na oglasu pridobi avtorske pravice ter izključno pravico objave in distribucije vsebine oglasa, posameznega dela oglasa ali fotografije. Uporabnik zagotavlja, da je izključni avtor besedil in fotografij, ki jih objavi, in jih neodplačno ter izključno za obdobje 12 mesecev prenaša na upravljavca v obsegu, ki temu dovoljuje, da jih hrani, obdeluje, predeluje in objavlja skladno z nameni oglaševanja.</p>
            <p>6.2. Kopiranje, distribuiranje, ponovno objavljanje ali spreminjanje informacij in gradiv na spletni strani brez predhodnega pisnega dovoljenja upravljavca je prepovedano. Prav tako je prepovedana uporaba kateregakoli elementa spletne strani za kakršnekoli namene, razen za lastno nekomercialno rabo.</p>
            <p>6.3. Uporabniki se zavezujejo spoštovati avtorske pravice in pravice intelektualne lastnine, ki varujejo katerikoli element, objavljen na spletni strani.</p>
        </section>

        <section>
            <h2>7. Varstvo osebnih podatkov</h2>
            <p>7.1. Določila, vezana na varstvo osebnih podatkov uporabnikov spletne strani, so uporabniku zaradi preglednosti na voljo ločeno v dokumentu <a href="/zasebnost">Varstvo osebnih podatkov</a>.</p>
        </section>

        <section>
            <h2>8. Omejitev odgovornosti</h2>
            <p>8.1. Upravljavec ne prevzema nikakršne odgovornosti za pravilnost, točnost, ažurnost in popolnost oglasov, objavljenih na spletni strani. Vse informacije, gradiva in podatki na spletni strani so informativne narave.</p>
            <p>8.2. Upravljavec ne odgovarja za obliko in vsebino spletnih strani, ki so na kakršenkoli način povezane s spletno stranjo. Pri obisku in uporabi povezanih spletnih strani je odgovornost upravljavca izključena.</p>
            <p>8.3. Upravljavec se trudi za optimalno delovanje spletne strani, vendar ne prevzema odgovornosti za njeno nemoteno uporabo. Uporabniki in obiskovalci uporabljajo spletno stran na lastno odgovornost. Upravljavec ne odgovarja za morebitno škodo, ki bi izhajala iz dostopa, uporabe ali nezmožnosti uporabe informacij, gradiv in oglasov na spletni strani.</p>
            <p>8.4. Upravljavec ni odgovoren za morebitno škodo kakršnekoli vrste, ki bi utegnila nastati zaradi uporabe ali nezmožnosti uporabe spletne strani.</p>
        </section>

        <section>
            <h2>9. Končne določbe</h2>
            <p>9.1. Pravno obvestilo lahko upravljavec kadarkoli spremeni, pri čemer je to za uporabnike zavezujoče v vsakokrat veljavni vsebini.</p>
            <p>9.2. Upravljavec lahko spletno stran spremeni kadarkoli in brez predhodnega obvestila, pri čemer ne prevzema odgovornosti za posledice teh sprememb. Uporabnik in obiskovalec z uporabo spletne strani soglašata z njenimi spremembami oz. v nasprotnem primeru prenehata z njeno nadaljnjo uporabo.</p>
            <p>9.3. Pravno obvestilo stopi v veljavo dne 1. 9. 2025 in velja do preklica oz. sprememb.</p>
        </section>

        <div class="legal-contact-box">
            <h3>Kontakt upravljavca</h3>
            <p>
                <strong>AMS Solutions d.o.o.</strong><br>
                Davčna številka: 58144498<br>
                Matična številka: 7511744000<br>
                E-pošta: <a href="mailto:info@mojavto.si">info@mojavto.si</a>
            </p>
        </div>
    </article>
</main>
